{% extends "base.html.twig" %}

{% block title %}AppBundle:Contact:edit{% endblock %}

{% block body %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">{{ contact.firstname }} {{ contact.lastname }}</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <a href="{{ path('contact_index') }}" class="btn waves-effect waves-light btn-warning pull-right hidden-sm-down"> Revenir à la liste </a>
            <a href="{{ path('contact_edit', {id: contact.id}) }}" class="btn waves-effect waves-light btn-default pull-right hidden-sm-down"> editer </a>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Détail du contact #{{ contact.id }}</h4>
                    <h6 class="card-subtitle">{{ contact.organization }}</h6>

                    <p>Prénom : {{ contact.firstname}}</p>
                    <p>Nom : {{ contact.lastname }}</p>
                    <p>Téléphone : {{ contact.phone }}</p>




                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
